/* ---ОБНУЛЕНИЕ--- */
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-style: 100%;
   line-height: 1;
   font-style: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style-type: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-style: inherit;
   font-weight: 400;
   font-family: Yeseva One, serif;
}

/* ---BODY--- */

body {
   font-family: nunito sans, Arial, Helvetica, sans-serif;
}

.button:hover {
   box-shadow: 0 0 10px 0 #b1b1b1 inset, 0 0 20px 2px #b1b1b1;
}

body {
   background-color: rgb(221, 230, 199);
}

.game-window {
   margin: 5% auto;
   width: 1000px;
}


.hiscore-container {

   display: flex;
   width: 100%;
   height: 100px;
   background-color: rgb(132, 145, 145);
   justify-content: space-evenly;
   align-items: center;
}

.field-container {
   width: 100%;
   height: 500px;
   background-color: antiquewhite;
}

.buttons-container {
   display: flex;
   width: 100%;
   height: 100px;
   background-color: rgb(132, 145, 145);
   justify-content: space-evenly;
   align-items: center;
}

.btn {
   width: 30%;
   height: 50%;
   font-size: 150%;
   border-radius: 5px;
}

.block {
   display: flex;
   justify-content: space-between;
   padding: 0px 30px;
   align-items: center;
   width: 30%;
   height: 50%;
   background-color: beige;
   border-radius: 5px;
}

.leg-block {
   display: flex;
   width: 60%;
   height: 80%;
   align-items: center;
}

.val-block {
   display: flex;
   width: 30%;
   height: 80%;
   align-items: center;
}

.hiscore {
   font-size: 200%;
}

.legend {
   font-size: 180%;
   color: brown;
}

.field-container {
   height: 520px;
   padding: 10px 0px 10px 0px;
   justify-content: center;
}

.game-field {
   display: grid;
   grid-template-columns: repeat(10, 50px);
   grid-template-rows: repeat(10, 50px);
   margin: 0 auto;
}

.field {
   margin: 0 auto;
   width: 500px;
   height: 500px;
   background-color: gray;
}

.empty-cell {
   background-color: blueviolet;
   border: 1px solid wheat;
   width: 50px;
   height: 50px;
}

.food {
   background-color: rgb(29, 190, 53);
}

.snake-body {
   background-color: blue;
}

.snake-head {
   background-color: brown;
}